.wrapper {
    background-color: aquamarine;
    width: 350px ;
    margin: auto;
    text-align: center;
    border-radius: 11%;
}
.contact {
    padding-top: 5px;
    background-color: gray;
    border-radius: 10px;
    margin-bottom: 30px;
    
}